<div class="field">
  <%= nested_form_for @siori do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>
  <%= f.label :departure_date %><br>
  <%= f.date_field :departure_date %><br>
  
  <%= f.fields_for :travel_day %>
  <p><%= f.link_to_add "日付を追加する", :travel_day %></p>
  
  <%= f.submit "しおりを作成する" %>
  <% end %>
</div>
