<div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.label :longitude, "緯度" %>
    <%= f.number_field :longitude %>
    <%= f.label :longitude, "経度" %>
    <%= f.number_field :longitude %>
</div>