<div class="nested-fields bg-success day">
    <div class="field">
      <%= f.label :day %><br>
      <%= f.number_field :day, class: 'day_form' %>
      <%= f.fields_for :tourist_spots do |s| %>
        <%= render 'tourist_spot_fields', f: s %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "add", f, :tourist_spots %>
      </div>
    </div>
</div>
