<div class='container'>
  <div class='title'>
    <span><%= @siori.content %></span>
    <h3>出発日：<%= @siori.departure_date.strftime('%Y年 %m月 %d日') %></h4>
  </div>
  <ul class='nav nav-tabs'>
    <% @siori.travel_day.each do |day| %>
      <li <%= 'class = active' if day.day.to_i == 1 %>><a href='#day-<%= day.id %>'  data-toggle='tab'><%= day.day %>日目</a></li>
    <% end %>
  </ul>
  <div>
      <% if user_signed_in? %>
        <% if current_user.following?(@siori) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
      <% end %>
  </div>
  
  <div  class='tab-content'>
    <% @siori.travel_day.each do |day| %>
      <div class='tab-pane' id='day-<%= day.id %>'>
        <% day.tourist_spots.each do |spot| %>
          <div class='spot-fields'>
            <div class='spot-content'>
              <p>時間：<%= spot.arrival_time.strftime('%H：%M') %>　　滞在時間：<%= spot.duration %></p>
              <p>タイトル：<%= spot.tourist_detail.title %></p>
              <p>内容：<%= spot.tourist_detail.content %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <input id="foo" value="<%= request.url %>" size="60">
    <button class="btn" data-clipboard-target="#foo">
        クリップボードにコピー
    </button>
  </div>
</div>
